APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=iptv_platform
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=iptv_session

# Provedor padrão para provisionamento: xtream_ui | xui_one
IPTV_PROVIDER=xtream_ui

# Xtream-UI
XTREAM_BASE_URL=http://SEU_IP_PAINEL:25500
XTREAM_API_PATH=/api.php
XTREAM_USERNAME=
XTREAM_PASSWORD=

# XUI One
XUI_BASE_URL=https://SEU_DOMINIO_PAINEL
XUI_CREATE_LINE_PATH=/api/lines/create
XUI_PING_PATH=/api/auth/me
XUI_AUTH_MODE=api_key
XUI_API_KEY=
XUI_USERNAME=
XUI_PASSWORD=

# FastDePix (PIX)
FASTDEPIX_BASE_URL=https://fastdepix.space/api/v1
FASTDEPIX_API_KEY=
